.services {
  text-align: center;
}

.service-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  background-color: #110b0b;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.service-item:hover {
  background-color: #e0e0e0;
}

.service-item h3 {
  font-size: 18px;
}

.service-item p {
  font-size: 14px;
}

